<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="conexaoBeleza" connectionString="Data Source=.;Initial Catalog=agrupar-comanda;User ID=sa;Password=senhasa@1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
